#intro {
    background-image: url(../assets/bg/Background_Intro.png);
    text-align: center; 

    header {
        figure {
            position: relative;
            justify-items: center;    

            #container-img {
                height: 96px;
                width: 96px;
                border-radius: 100%;
                overflow: hidden;
                position: relative;

                border: 4px solid transparent;
                outline: 2px solid var(--red);

                img {
                    object-fit: cover;
                }
            }
            figcaption {
                position: absolute;
                bottom: -2px;
                left: 20px;

            }


        }
    }
}


/* avatar-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid transparent; /* Cria o espaço transparente interno */
  /*outline: 2px solid #ff6b6b; /* O anel vermelho flutuante */
  /*outline-offset: 4px; /* Empurra o contorno vermelho para fora, criando */